<div class='panel' id='signup'>
  <div class='close'>X</div>
  <input type='email' class='email' placeholder="Email"/>
  <input type='password' class='password' placeholder="Password"/>
  <input type='password' id='password_confirmation' placeholder="Password Confirmation"/>
  <input type='text' id='first_name' placeholder="First Name"/>
  <input type='text' id='last_name' placeholder="Last Name"/>

  <button id='signup-button'>Sign up</button>
</div>
