<% if current_user %>
  <h1>Profile</h1><br/>
  <%= current_user.first_name %><%= current_user.last_name %><br/><br/>
  <%= current_user.email %><br/><br/>
  <%= image_tag(current_user.avatar.url(:medium)) %><br/><br/>
  <h2>Stats</h2>
<% end %>
