<h1>Home#about</h1>
<p>About the Project</p>
<p>Contact Form</p>

<div class="text_to_sign">
</div>

<div id="letters_input">
  <center>
    <p>Type in a word here</p>
    <input type="text" name="letters" id="from_text">
  </center>
</div>
