<div class="typing">
<h1>Letter Search</h1>
<h3>Type a letter or word into the input field.</h3>


<div class="text_to_sign">
</div>

<div id="letters_input">
  <center>
    <p>Type in a word here</p>
    <input type="text" name="letters" id="from_text">
  </center>
</div>
</div>