<div class="typing">
  <center><h1>Letter Search</h1></center>
  <center><h3>Type a letter or word into the input field.</h3></center>

  <div class="text_to_sign">
  </div>

  <div id="letters_input">
    <center>
      <p>Type in a word here</p>
      <p>(10 character limit)</p>
      <input type="text" name="letters" id="from_text" maxlength="10">
    </center>
  </div>
</div>
