@font-face {
    font-family: 'gallaudet';
    src: url(/fonts/GALLAUDET.ttf);
}

.text_to_sign {
  font-family: 'gallaudet';
  font-size: 20em;
  height: 100px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  line-height: 100px;
  // border: solid skyblue 2px;
}

#letters_input {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.typing {
  width:1300px;
	position: relative;
  margin:0 auto;
  top:100px;
  left: -180px;
}
