/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .auLogoWrap {
 	display: inline-block;
 	width:250px;
  float:left;
  position:relative;
  top:15px;
 }

 .auLogosm {
 	background: url(/assets/audisaSm.svg) no-repeat;
 	background-size:contain;
 	width:120px;
 	height:50px;
 }

 .auLogo {
  margin:0 auto;
 	background: url(/assets/aulogo.svg) no-repeat;
 	background-size:contain;
 	width:250px;
 	height:100px;
 	padding:15px;
 }

html{font-size: 16px;}
header,.headWrap{height:75px;

}
.headWrap{background-color: rgba(46, 138, 138, 0.4);
color: rgba(46, 138, 138, 0.4);}

header{width:960px;
	margin:0 auto;
	z-index: 100;
}
 .headWrap, .contentWrap{width:100%;}
.clear{clear:both;}

 .content{ width:960px; margin:0 auto;}

 /* Standard Top Navigation */
 nav{
 	z-index: 9999;
 }

 nav ul{
 	width:300px;
 	float:right;
 	position: relative;
 	top:20px;
 	}

 nav ul li{
 	display:inline-block;
 	font-size: 1.2em;
 	padding-right:5px;
 }

nav li a:link{
 	text-decoration: none;
 	color:white;
 	font-size:1.3em;
 }
nav li a:visited{color:white;}
nav li a:hover{
	color:grey;
}
nav li a:active{ color:white; }
