// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home {
  #container {
    background: red;
  }
  button {
    display: block;
    cursor: pointer;
  }
  .panel {
    display: inline-block;
    padding: 2em;
    background: gray;
    transform: translateX(-150%);
    transition: .5s transform;
    position: absolute;
    left: 0;
    top: 10em;

    &.show {
      transform: translateX(0);
    }
  }
  .close {
    margin-top: -1.5em;
    margin-right: -1.5em;
    float: right;
    cursor: pointer;
  }

  input {
    display: block;
    padding: .5em;
    margin: 1em;
  }

}
