#welcome {
  padding:15px;
}

.username {
  width:150px;
  margin:0 auto;
}

.profiletitle {
  color:white;
}

.profileLogOut{
	width:100px;
	float:right;
	position:relative;
	top: -30px;
	font-size: 1.3em;
	color:white;
}

.username {
  img {
    border-radius: 10px;
  }
}

.testsLink {
  font-size: 1.3em;
  text-align: center;
  width: 200px;
  height: 30px;
  margin-left: 106px;
  margin-top: 7px;
  line-height: 30px;
  background: lightgray;
  color: white;
  border-radius: 10px;

  &:hover {
    background-color: white;
    a {
      color: rgba(46, 138, 138, 0.7);
    }
  }
}

// styling for the log in, sign up ajax calls

.panel {
  display: inline-block;
  padding: 2em;
  background: rgba(46, 138, 138, 0.7);
  transform: translateX(-150%);
  transition: .5s transform;
  position: absolute;
  left: 0;
  top: 10em;

  &.show {
    transform: translateX(0);
  }
}

.close {
  margin-top: -1.5em;
  margin-right: -1.5em;
  float: right;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

input {
  display: block;
  padding: .5em;
  margin: 1em;
}
