<h1> Congratulations <%= current_user.first_name %>! You finished!</h1>

<button class="category_try_again">Try Again!</button>
<button class="category_start_page_button">Choose Another Category to Learn</button>
