<h1 id="finish_congrats"> Congratulations <%= current_user.first_name %>! <br><br> You finished your quiz, and <span id="test_results"></span></h1>
<div id="finished_buttons" class="category_try_again">Try Again!</div>
<div id="finished_buttons" class="category_start_page_button">Choose Another Category to Learn.</div>

