<div class="ansWrap">
<div class="hidden_answers">

  <% @answers.each do |answer| %>
    <div class="next_question">
      <p class="correct_answer"><%= answer.name %></p>
      <p class="question_id"><%= answer.question.id %></p>
      <img class="ansPic" src="<%= answer.gif %>">
      <% current_answers = [answer] %>
      <% other_answers = @answers.dup - current_answers %>
      <% current_answers.concat(other_answers.shuffle[0..2]) %>
      <% current_answers = current_answers.shuffle %>
      <br />
      <% current_answers.each do |a| %>
        <button class="answer"><%= a.name %></button>
      <% end %>
    </div>
  <% end %>

</div>

<div id="current_question">
</div>
</div>
